/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:bisque ;
}

h1 {
    color: #ff4500; /* Orange-red color */
}

p {
    color: #444; /* Dark gray color */
}

button {
    padding: 10px 20px;
    background-color: #4caf50; /* Green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size :16px;
    transition: background-color 0.3s ease;
}



#output {
    font-size : 20px;
    font-weight: bold;
    margin-top: 20px;
}
